{% extends "index.html" %}

{% block content %}
<body>
<h5>Добавить информацию о зарплате</h5>
<form action="add_information_about_salary" method="POST" style="width: 50%;" align="center">
    <div class="input-group">
      <div class="input-group-prepend">
      </div>
      <input name="username" type="text" class="form-control" placeholder="Имя пользователя" aria-label="Имя пользователя" aria-describedby="basic-addon1">
    </div>
    <p></p>
    <div>
       <input name="salary" type="text" class="form-control" placeholder="Зарплата" aria-label="Зарплата" aria-describedby="basic-addon1">
    </div>
    <p></p>
    <div>
       <input name="salary_increase_date" type="text" class="form-control" placeholder="Дата повышения зарплаты" aria-label="Дата повышения зарплаты" aria-describedby="basic-addon1">
    </div>
    <p></p>
    <button class="btn btn-outline-success" type="submit" align="center">Добавить информацию</button>
</form>
</body>
</html>
{% endblock %}